* {
    font-family: sans-serif;
}
.welcome-container {
    border: 3px solid black;
    background: violet;
    padding: 25px;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid pink;
    background: green;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-container img {
    height: 75px;
}

#profile img {
    height: 200px;
}

#header .profile-pic {
    height: 75px;
}

#profile .profile-pic-container {
    left: 120px;
}

#header .profile-pic-container {
    position: absolute;
    background-color: grey;
    top: 0;
    right: 0;
}
.opp-container .profile-pic-container img {
    height: 100px;
}
